body {
  font-size: 16px;
  font-family: monospace;
}

.welcome {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.lobby {
  text-align: center;
  width: 500px;
  margin: 0 auto;
}

.lobby h1, .lobby h3 {
  font-weight: lighter;
}

#play {
  transform: scale(1.5);
}
