<head>
  <title>Blaze Penguinz</title>
  <script charset="utf-8" type="text/javascript" src="js/phaser-ninja-physics.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" media="screen" charset="utf-8">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
</head>

<body>

  {{#if errorMsg}}
  <div class="darkScreen">
    <div class="popup">
      <p class="col-xs-12"><br><br>&nbsp;{{errorMsg}}&nbsp;<br><br></p>
      <span class="button coda clickable acceptError">OK</span>
      <p><br><br></p>
    </div>
  </div>
  {{/if}}

  {{#if currentUser}}
    {{#if inGame}}
      <div id="container">
        {{game}}
      </div>
    {{else}}
      <div id="login-container">{{> loginButtons}}</div>
      {{> lobby}}
    {{/if}}
  {{else}}
    {{> welcome}}
  {{/if}}

</body>
