<template name="lobby">
  <div class="container lobby">
    <div class="row">
      <div class="col-xs-12 {{#if userIsInRoom}} group {{else}} group-empty {{/if}}">
        <div class="col-xs-2 lobby-title">
          <h2>Lobby</h2>
          {{#if userIsInRoom}}
            <div class="toggle-button {{#if roomIsPublic}} {{else}}toggle-button-selected{{/if}}
                        {{#if userIsRoomHost}} {{else}} disabled {{/if}}">
              <button></button>
            </div>
            <p class="room-type">
              {{#if roomIsPublic}}
                Public
              {{else}}
                Invite-only
              {{/if}}
            </p>
          {{/if}}
        </div>
        {{#if userIsInRoom}}
          <ul class="col-xs-10 players">
            {{#with getRoomHost}}
              <li class="sans lobby-host"><img src="img/user.png"><br><b>HOST: </b>{{username}}</li>
            {{/with}}

            {{#each getRoomMembers}}
              <li class="sans"><img src="img/user.png"><br>{{username}}</li>
            {{/each}}
          </ul>
        {{else}}
          <p>Join a lobby by inviting players or accepting an invite</p>
        {{/if}}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-5 friends">
        <div class="row">
          <h2 class="col-xs-5">Friends</h2>
          <form class="addform col-xs-7">
              <input class="sans" type="text" name="addfriend" placeholder="Add friend...">
          </form>
        </div>
        <ul class="col-xs-12 friendslist">
          {{#each getFriends}}
            <li class="sans {{#if userIsOnline}} online {{/if}}">
              &nbsp;{{username}}&nbsp;&nbsp;-&nbsp;&nbsp;{{profile.rating}}
              {{#if userIsOnline}} <span class="invite">Invite</span> {{/if}}
            </li>
          {{/each}}
        </ul>
      </div>

      <div class="col-xs-7 feed">
        <div class="col-xs-12 rest"></div>
        <div class="col-xs-12 buttons">
          <div class="playButton randomMatch">Random Match</div>
          <div class="playButton partyMatch">Party Match</div>
        </div>
      </div>
    </div>
  </div>
</template>
